*{
    margin:0;
    background-color: rgb(207, 207, 207);
}

header{
    padding: 10vh 0 ;
    width: 100%;
    background-image: url(../img/programacao.jpg);
    height: 100%;
    border-bottom: 1px solid rgb(82, 82, 82);
 }

 #titulo{
     font: 28px arial, sans-serif;
     color: rgb(145, 144, 144);
     font-weight: bold;   
     margin-left: 2vh;
 }
 #main{
     height: 100%;
     width: 100%;
 }
 #foto-perfil{
     position: absolute;
     margin: 0px 0px 0px 43%;
     width: 13%;
     border-radius: 50%;
     border: 5px solid rgb(255, 255, 255); 
 }
 #titulo{
     text-align: center;
     margin:8.8% 0% 0% 0%;
 }
 .name{
     font: 25px arial, sans-serif;
     font-weight: bold;
     color: rgb(43, 49, 70);
 }
 .descricao{
     font: 18px arial,sans-serif;
     font-weight: bold;
     color: rgb(43, 49, 70);


 }
 footer{
     position: absolute;
     bottom: 0;
     padding: 5vh 0px;
     width: 100%;
     background-color:rgb(41, 41, 41); 

 }

 .sobre{
     background-color: rgb(255, 255, 255);
     margin: 4vh;
     padding: 2vh;
     width: 50%;
     border-radius: 5px;
 }
